<html>
    <head>
        <title>TrinityAI</title>
        <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <script src="https://kit.fontawesome.com/28f19a82fa.js" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-PMXW5E3GQ7"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-PMXW5E3GQ7');
    </script>
    <body>
        <div id="logo">
            <img src="/static/images/logo.png"/>
            <h1>TrinityAI</h1>
            <i class="fa fa-ellipsis-v" id="menu" style="font-size: 38px; height: 38px; position: relative; margin: auto 0px; right: 0px; justify-self: flex-end; cursor:pointer;"></i>
        </div>
        <div class="wrapper">
            <div id="welcome" style="width: 100%; position:fixed; left: 50%; right: 50%; transform: translate(-50%,-50%);">
                <h2 style="font-size: 34px; margin: 0px;">Hi! I'm Trinity</h2>
                <h3 style="color:#666; margin: 10px 0px 0px 0px; font-size: 25px;">How can I help you today?</h3>
            </div>
            <div id="messages">
            </div>
            <div id="textbox">
                <textarea id="text" placeholder="Ask Trinity Anything..." spellcheck="false"></textarea>
                <i id="button" class="fa fa-send" style="transition: .2s; align-self: center; cursor: pointer; width: 60px; font-size: 24px;"></i>
            </div>
        </div>
    </body>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</html>
